:root {
    --ff-heading: 'Staatliches', sans-serif;
    --ff-texting: 'Palanquin', sans-serif;
    --ff-texting-b: 'Roboto', sans-serif;
    --ff-footer: 'Open Sans', sans-serif;

    --bg-primary:   #EFF1FF;
    --bg-span:      #FEEAFA;
    --bg-title:     #CBC0D3;
    --bg-secondary: #8E9AAF;
    --fc-secondary: #4A4E69;
    --fc-primary:   #23053A;

    --stagger-delay: 45ms;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: var(--ff-texting);
    font-weight: lighter;
    font-size: 62.5%;
}

.page-wrapper {
    max-width: 100vw;
    height: 100vh;
    margin: 0 auto;
    
    background-color: var(--bg-primary);
}

a {
    font-size: inherit;
    text-decoration: none;
}

header {
    padding-top: 3rem;
    text-align: center;

    background-color: var(--bg-secondary);
}

header img {
    max-width: 14rem;
    height: auto;
    
    margin-bottom: 3rem;
}

header h1 {
    margin-bottom: 3rem;
    padding: 0.8rem;
    
    font-family: var(--ff-heading);
    font-size: 4rem;
    line-height: 3.4rem;
    letter-spacing: 0.05em;
    
    color: #FFF;
    background-color: var(--bg-title);
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.page-info {
    display: flex;
    justify-content: center;
    width: 100%;
    
    background-color: var(--bg-primary);
}

.page-info p {
    max-width: 37rem;
    margin: 2rem auto 5rem;
    padding: 0 2rem;
    
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.9rem;
    color: var(--fc-primary);
}

.page-info p:before {
    content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a rhoncus leo. Donec at scelerisque magna. Nullam vitae neque sit amet erat dignissim cursus ac ac lectus. Aliquam erat volutpat. Praesent at quam aliquet.";
}

.gallery {
    max-width: 45rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3.2rem;

    padding: 0 3.2rem 3.2rem;
    margin: auto;
}

.desktop-only {
    display: none;
}

.icecream-pic:hover {
    transform: scale(1.15);   
    box-shadow: 0 0 0 2000px rgba(239, 241, 255, 0.2);
    z-index: 999;
}

.icecream-pic {
    position: relative;
    transition: 150ms;
    animation: animated-pic 300ms ease-out;
    animation-fill-mode: backwards;
    overflow: hidden;
    border-radius: 2rem;
}

.icecream-pic span {
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;
    padding: 0 2.4rem;

    font-family: var(--ff-heading);
    font-size: 2rem;
    line-height: 3.4rem;
    text-transform: uppercase;
    color: var(--fc-secondary);

    border-radius: 2rem;
    background-color: var(--bg-span);

    animation: animated-span 300ms ease-out;
    animation-fill-mode: backwards;
}

.icecream-pic:nth-child(1) {
    animation-delay: calc(1 * var(--stagger-delay))
}

.icecream-pic:nth-child(2) {
    animation-delay: calc(2 * var(--stagger-delay));
}

.icecream-pic:nth-child(3) {
    animation-delay: calc(3 * var(--stagger-delay));
}

.icecream-pic:nth-child(4) {
    animation-delay: calc(4 * var(--stagger-delay));;
}

.icecream-pic img {
    width: 100%;
    height: auto;

    border-radius: 2rem;
}

.footer-wrapper {
    display: none;
}

@media (min-width: 700px) {

    .page-wrapper {
        display: flex;
        justify-content: flex-start;

        background-color: var(--bg-primary);
    }
    
    header {
        min-width: 33rem;
    }

    header img {
        content: url("images/spacecream_logoB.png");
        max-width: 21rem;
        height: auto;
    
        margin-bottom: 3rem;
    }

    header h1 {
        padding: 20px;
        margin-bottom: 3rem;
        font-size: 4.8rem;
    }
    
    .page-info {
        background-color: var(--bg-secondary);
    }
    
    .page-info p {
        width: 26rem;
        color: #FFF;
        font-family: var(--ff-texting-b);
        font-size: 1.5rem;
        line-height: 2.2rem;
    }
    .page-info p:before {
        content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a rhoncus leo. Donec at scelerisque magna. Nullam vitae neque sit amet erat dignissim cursus ac ac lectus. Aliquam erat volutpat. Praesent at quam aliquet, pharetra est in, sagittis lorem.elit. Donec a rhoncus leo. Donec at scelerisque magna. Nullam vitae neque sit amet erat dignissim cursus ac ac lectus. Aliquam erat volutpat. Praesent at quam aliquet, pharetra est in, sagittis lorem. "
    }

    main {
        width: 100%;
        display: flex;
        flex-direction: column;

        overflow: auto;
    }

    .gallery {
        width: 100%;
        padding: 5rem;
    }
}

@media (min-width: 1000px) {

    .page-wrapper {
        justify-content: center;
    }

    main {
        max-width: 90rem;
    }

    .icecream-pic span {
        display: none;
    }

    .gallery {
        max-width: max-content;
        padding: 5rem;
        display: grid;
        grid-template-areas: "A C"
                             "B C"
                             "B D";
    }

    .gallery .icecream-pic:nth-child(1) {
        grid-area: A;
    }
    
    .gallery .icecream-pic:nth-child(2) {
        grid-area: C;
    }
    
    .gallery .icecream-pic:nth-child(3) {
        grid-area: D;
    }
    
    .gallery .icecream-pic:nth-child(4) {
        grid-area: B;
    }

    .footer-wrapper {
        display: contents;
        
        font-family: var(--ff-footer);
        text-align: center;
    }
    
    .footer-wrapper a {
        color: var(--bg-secondary);
        font-weight: bold;
    }
    
    .footer-wrapper p {
        font-size: 1.4rem;
        line-height: 2.8rem;
        color: var(--bg-secondary);
    }
}

@media (min-width: 1300px) {

    main {
        max-width: 100vw;
    }
    
    .icecream-pic {
        display: block;
    }

    .icecream-pic span {
        display: none;
    }

    .gallery {
        max-width: 100vw;
        padding: 5rem;
        display: grid;
        justify-content: center;
        grid-template-areas: "A C E"
                             "B C F"
                             "B D F";
    }

    .gallery .icecream-pic:nth-child(1) {
        grid-area: A;
    }
    .gallery .icecream-pic:nth-child(2) {
        grid-area: C;
    }
    .gallery .icecream-pic:nth-child(3) {
        grid-area: D;
    }
    .gallery .icecream-pic:nth-child(4) {
        grid-area: B;
    }
    .gallery .icecream-pic:nth-child(5) {
        grid-area: E;
        animation-delay: calc(5 * var(--stagger-delay));
    }
    .gallery .icecream-pic:nth-child(6) {
        grid-area: F;
        animation-delay: calc(6 * var(--stagger-delay));
    }
}

@keyframes animated-pic {
    from {
        opacity: 0;
        transform: translateY(3rem) scale(0.9);
    }
    to {
        opacity: 1;
        transform: translateY(1) scale(1);
    }
}

@keyframes animated-span {
    from {
        transform: translateX(20rem);
    }
    to {
        transform: translateX(1);
    }
}