:root {
    font-size: 62.5%;
}

body {
    background-color: #334155;
    font-family: sans-serif;
    font-size: 1.6rem;
    color: #fafafa;
}

.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info {
    text-align: center;
}

h1 {
    font-weight: bold;
}

ul {
    text-align: justify;
    max-width: 50rem;
    margin: auto;
    padding: 0 2rem;
}

span {
    font-size: 1.4rem;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #06b6d4;
}

a:hover {
    text-decoration: underline;
    color: #67e8f9;
}